.history {
  border-left: 1px solid green;
  border-right: 1px solid green;
  min-height: 100vh;
  margin: 0 160px 0 320px;
  padding-top: 170px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
}

.history::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: #42567a;
  opacity: 20%;
}

.history::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 0px;
  bottom: 0px;
  width: 1px;
  background-color: #42567a;
  opacity: 20%;
}

.title {
  max-width: 300px;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, #5d5fef, #ef5da8);
}

.dates {
  min-height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;

  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 80% */
  letter-spacing: -4px;

  color: #ef5da8;
}

.pagination {
  color: #42567A;

font-family: PT Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
